* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: #DDE6ED;
}


header {
    background-color: #27374D;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

header h1 {
    padding: 10px;
    color: white;
}

header p {
    color: white;
}

nav {
    background-color: #526D82;
    position: sticky;
    margin-top: 10px;
    top: 0;
    z-index: 1;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    margin-right: 20px;
}

li a {
    display: block;
    color: white;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #27374D;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    margin-top: 30px;
}

.post-column {
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.post-column img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.post-column p {
    margin-top: 20px;
    text-indent: 20px;
    margin-bottom: 20px;
}

.post-column h1 {
    margin-bottom: 10px;
}

aside {
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

aside h1 {
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

aside table {
    margin-top: 20px;
    width: 100%;
}

aside th {
    padding-top: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #27374D;
    color: white;
    margin-top: 5px;
}